.forgetpass,
.addchildren,
.homepage,
.educationSchedule {
    header {
        background: linear-gradient(120deg, rgba(230, 125, 42, 1), rgba(224, 84, 33, 1));
        line-height: 100px;
        text-align: center;
        position: relative;
        margin-bottom: 50px;
        padding: 0;
        height: 100px;

        i {
            display: inline-block;
            width: 40px;
            height: 100px;
            padding-left: 30px;
            background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACYAAAAmCAYAAACoPemuAAAB2ElEQVRYR+3XPWsVQRjF8f9RUEQQgqJGRSIKEjCFlY2BgEGwsLZKE3wpBAsllWATsBJtgo0YSJMUIYhYRBRRv4xovkBA0CMbnsAyJHJnd5a9xd169u7vnplnnhkxpI+G1MUIljsznSdme+cbkpyD6xRm+zbwFjgE3JO0PiiuM5jtW8A74HBgfkoa7xVm+wbwAThSg/QLs30d+AgcraH+AHOS1npJzPY14BNwrAaoFv0DSW8GRe0US87g/421fRX4AowlqEeSlnK/UwRm+wrwFTiRABYkvchFFUnM9mXgG3A6ATyTtNgE1Rpm+2KgziWA55KeNkW1gtk+D3wHJhLAK0mP26Aaw2yfCdSlBPBa0sO2qEYw2ydj+iYTwDJwN7cn7vcnsqvSdlV9M8kPrsYG+rdEWtmJ2T4I/AYO1AC/gAuStkuhsmHVC7Y/A7MJYgO4I6lqPUWeJlN5PDbTqS6nMxsWqXVeAI1gget0y2gMC9x+m+xLSU/aLLZWsMB10pZawwJXvJEXgQWu6NGnGCxwxQ6LRWGB2+t4XbWqeUkrgxZEcVjgpoHN5EKyJelUr7DApVe4H5LO9g4L3M3aTfy+pPdDARsUsde4TtZYG9DuuyNYboqjxHIT+wdIlZYngrsyrQAAAABJRU5ErkJggg==)20px 32px no-repeat;
            position: absolute;
            left: 0px;
            top: 0px;
        }

        .header-center {
            font-size: 32px;
            color: #fff;
        }
    }
}

.forgetpass {}