.healthStandard {
    header {
        height: 130px;
    }

    main {
        padding: 0 30px;
        transform: translate(0px, -30px);

        .synthesisScore {
            height: 240px;
            background-color: #fff;
            border-radius: 4px;
            padding: 30px;

            ul {
                display: flex;
                justify-content: space-around;

                li {
                    width: 50%;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-around;
                }

                li:first-child {
                    span:first-child {
                        display: inline-block;
                        line-height: 80px;
                        font-size: 44px;
                        font-family: PingFang SC;
                        color: rgba(255, 122, 24, 1);
                    }

                    span:nth-child(2) {
                        display: inline-block;
                        height: 42px;
                        font-size: 24px;
                        font-family: PingFang SC;
                        color: #434343;
                    }

                }

                li:nth-child(2) {
                    text-align: right;

                    div:first-child {

                        span:first-child {
                            display: inline-block;
                            line-height: 80px;
                            font-size: 60px;
                            font-family: PingFang SC;
                            color: #FF7A18;
                            margin-right: 10px;
                        }

                        span:nth-child(2) {
                            color: #FF7A18;
                            font-size: 24px;
                        }
                    }


                    span:nth-child(2) {
                        display: inline-block;
                        height: 42px;
                        font-size: 24px;
                        font-family: PingFang SC;
                        color: #434343;
                    }

                }
            }

        }
    }
}