.healthStandard {
    header {
        height: 130px;
    }

    main {
        padding: 0 30px;
        transform: translate(0px, -30px);

        .synthesisScore {
            height: 200px;
            background-color: #fff;
            border-radius: 4px;
            padding: 30px;
            position: relative;

            ul {
                display: flex;
                justify-content: space-around;

                li {
                    width: 50%;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-around;
                }

                li:first-child {
                    span:first-child {
                        display: inline-block;
                        line-height: 80px;
                        font-size: 44px;
                        font-family: PingFang SC;
                        color: rgba(255, 122, 24, 1);
                    }

                    span:nth-child(2) {
                        display: inline-block;
                        height: 42px;
                        font-size: 24px;
                        font-family: PingFang SC;
                        color: #434343;
                    }

                }

                li:nth-child(2) {
                    text-align: right;

                    div:first-child {

                        span:first-child {
                            display: inline-block;
                            line-height: 80px;
                            font-size: 60px;
                            font-family: PingFang SC;
                            color: #FF7A18;
                            margin-right: 10px;
                        }

                        span:nth-child(2) {
                            color: #FF7A18;
                            font-size: 24px;
                        }
                    }


                    span:nth-child(2) {
                        display: inline-block;
                        height: 42px;
                        font-size: 24px;
                        font-family: PingFang SC;
                        color: #434343;
                    }

                }
            }

            >p {
                position: absolute;
                bottom: 30px;
                margin-top: 30px;

                >i {
                    display: inline-block;
                    width: 26px;
                    height: 26px;
                    background-color: #FFC662;
                    border-radius: 50%;
                    color: #fff;
                    text-align: center;
                    font-size: 24px;

                }

                >span {
                    font-size: 24px;
                }
            }

        }
    }

    .healthStandard-bottom {
        img {
            box-sizing: border-box;
            display: block;
            width: 100%;
            margin-top: 100px;
            border: 1px dotted #434343;
        }

        .indicator {
            >p {
                padding: 0 30px;
                font-size: 24px;
                color: #FF7A18;
                line-height: 64px;

                span {
                    display: inline-block;
                    width: 30%;
                }

                span:nth-child(3) {
                    display: inline-block;
                    width: 25%;
                }

                span:last-child {
                    width: 15%;
                }
            }

            // vant ui 样式更改
            .van-collapse {
                .van-collapse-item {
                    background: #fff;

                    .van-cell {
                        padding: 30px 30px;

                        .van-cell__title {
                            span {
                                display: inline-block;
                                width: 30%;
                                font-size: 24px;
                                color: #434343;
                            }

                            span:nth-child(3) {
                                width: 25%;
                                box-sizing: border-box;
                                padding-left: 14px;
                            }

                            span:nth-child(4) {
                                width: 15%;
                                box-sizing: border-box;
                                padding-left: 26px;
                            }
                        }
                    }

                    .van-collapse-item__content {
                        background-color: #EBEBEB;

                        span {
                            display: inline-block;
                            width: 30%;
                            padding: 15px 0;
                            font-size: 24px;
                            color: #434343;
                        }

                        span:nth-child(3) {
                            width: 25%;
                        }

                        span:nth-child(4) {
                            width: 15%;
                        }
                    }
                }
            }
        }

    }

    .btn {
        margin-top: 50px;
    }

    .wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
    }

    .block {
        width: 560px;
        height: 560px;
        background-color: #fff;

        h4 {
            color: #434343;
            font-size: 30px;
            line-height: 90px;
            text-align: center;
        }
    }
}