.register,
.forgetpass {
    header {
        position: relative;

        i {
            display: inline-block;
            width: 55px;
            height: 100px;
            background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACYAAAAmCAYAAACoPemuAAACLElEQVRYR+3Xv4vUQBQH8O+7zZ64giCKvxFFFxG0sLJREBTBwmKrzZLMFuKPQrBQrAQJHFiJNmIjJwhvYhFExEJR5Lz/Y2tR/wEJ4jwZyMIaPdhJJrdbbOoZ5pP33sybIczpR3PqwgLmmpnNiNh4DXHBNQobDAZXWq3Wqogsi8j1NE2zaXGNwaIoukxEbwBsKTDfmHnfTGFRFF0A8I6Itk5AZgtTSp0VkQ8Atk2gfgNQzPxqJhELw/BMEAQfAWwfA0TEFv1NrfXzaVF2nLcaGw6Hp40xnwHsmABY1G1mfuqC8gZTSp00xqwR0a4S4B4zP3JFeYHFcXwcwBcAe0uAB8y8UgVVG9bv94+2222LOlgCPGTm+1VRtWBKqUPGmHUiOlwCPGHmO3VQlWFhGO4PgmAdwLFJgIg801rfqouqBFNK7RYRm74TJdQLrfU1AE49caOfcD4u4jheA3C+hEq73a5KksT4iJZzxJIkWRqNRr8ALE0Avud5fiTLsp++UM4wOyGKok9EdLGEeJ3neT/LMtt6vHzOqez1ejs7nY49TE81mU5nmMVsxgaoBLO4po+MyrAichsdso+Z+W6dYqsFsws31ZZqwyyuiUbuBVak1evVxxvM4nxeFr3Cit36z/UagBGRq1rrl9NuCO+woubOAXhfepD8YOY9M4UVreuvJ5yIfNVaH5g5rMBdIqJVAMvGmBtpmr6dC9i0iP+Na6TG6oDGcxcw1yguIuYasT8mCNsnOR/gBwAAAABJRU5ErkJggg==) 15px 30px no-repeat;
        }

        span {
            display: inline-block;
            line-height: 100px;
            font-size: 28px;
            color: #959595;
        }
    }

    .login-top {
        img:nth-child(1) {
            margin-top: 50px;
        }

        span:nth-child(2) {
            margin-bottom: 100px;
        }

    }


    .van-cell-group {
        .van-field__label {
            width: 150px;
        }

        .van-cell:not(:first-child) {
            border-bottom: 1px solid #EFEFEF;
        }

        .relation {
            span:first-child {
                width: 150px;
            }

            .parent span {
                display: inline-block;
                width: 132px;
                height: 44px;
                font-size: 24px;
                line-height: 44px;
                text-align: center;
                background-color: #FF7A18;
                border-radius: 22px;
                color: #fff;
                margin-right: 35px;
            }
        }

        .tel-box {
            position: relative;
            border-bottom: 1px solid #EFEFEF;

            .van-field__control {
                width: 70%;
            }

            .van-button {
                position: absolute;
                top: 24px;
                right: 0;
                border-radius: 6px;
                width: 132px;
                font-size: 24px;
            }
        }
    }

    .serve {
        text-align: center;
        font-size: 20px;
        margin-bottom: 30px;

        a {
            color: #1E88E5;
        }
    }

    .login-btn {
        margin-bottom: 50px;
    }

}